body{
  box-sizing: border-box;
  margin:0;
  background-color: darkred;
  
}
.Navbar{
  background-color: black;
  padding: 5px;
}


 .navbarlinks a{
  font-size: 2vw;
  font-family: 'Signika Negative';
  text-decoration: none;
  color: bisque;
  padding: 5px;
  
  
  
 }
.navbarlogo{
  justify-content: center;
  align-items: center;
 
}
.coverpic2{
  width:100%;
  height:auto

}
.herotext{
  font-size: 3vw;
    font-family: 'Signika Negative';
    color: bisque;
}
.footerlogo{
  margin-left: 25px;
}